html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{

    box-sizing: border-box;
}
body{
    background-color: blue;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.panel{
    display: flex;
    /* border: 1px solid black; */
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 1em;

    
}

.pricing-plan{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 1em;
    align-items: center;
    border-right: 1px solid rgb(255, 238, 238);
    color: #4747f6;
}
.pricing-plan:last-child{
    border-right: none;
}
img{
    width: 15em;
    height: 10em;
}
.pricing-plan li{
    margin:.3em;
}

.pricing-plan img{
    margin:.3em;
}
.pricing-plan span{
    margin:.3em;
}
.pricing-plan a{
    margin:.3em;
    padding:.5em;
    background-color: rgb(80, 80, 255);
    color: white;
    text-decoration: none;
    border-radius: 0.8em;
}
.pricing-plan a:hover{
    background-color: rgb(107, 166, 255);

}
.pricing-header{
    color: rgb(152 173 255);
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: .3em 0em 0.5em 0em;
}

@media(max-width:900px) {
    .pricing-plan{
        font-size: 0.8rem;
    }
}
@media(max-width:700px){
    .panel{
        flex-direction: column;
    }
    body{
        padding: 2vh 0vh;
    }
    .pricing-plan{
        font-size: 1.2rem;
        border-right: none;
        border-bottom: 1.5px solid rgb(255, 238, 238);
    }
    .pricing-plan:last-child{
        border-bottom: none;
    }
}

@media(max-width:500px) {
    .pricing-plan{
        font-size: 1rem;
    }
}

